<p>popup works!</p>
<div class="jumbotron text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text" style="font-family: monospace;font-size: 1em;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum neque laudantium temporibus maxime asperiores aliquid impedit earum sequi. Laboriosam ipsa soluta voluptatum iste velit laudantium facilis vero assumenda corrupti saepe?
        Ut dicta delectus fugit voluptatum. Illo consequatur a dicta quos velit molestiae beatae et itaque aliquam iusto. Minus laborum reprehenderit, reiciendis quia ipsam aperiam optio, veritatis sapiente repellat perferendis adipisci?
        A praesentium quia blanditiis deserunt deleniti iure, repellendus cupiditate perferendis. Sint deserunt porro debitis tempore quae temporibus voluptatibus fuga quam labore beatae doloribus excepturi, dolore ex dolor voluptates error architecto!
    </p>   
  </div>
  <div class="input-group input-group-lg">
      <input type="text" style="width: 100%;height: 3em;border-style: hidden;background-color: rgb(202, 194, 194);" placeholder="Search">
  </div>
</div>